*{
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #dddddd;
}
.div_titulo{
    padding: 10px;;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
.div_form{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px white;
    text-align: center;
    
}

.item-form{
    padding: 10px;
    border-bottom: solid 1px white;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    line-height: 30px;
}
.div_form input{
    font-size: large;
    border: none;
    height: 30px;
    width: 300px;
    padding: 0px 10px;
    outline: none;
}
.btn-submit{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: #2f7fae;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}